@page {
    margin: 0;
    size: A4;
}

.wrapperPrintPageComponent {
    border-left: 2px solid whitesmoke;
}

.wrapperButtonPrintPageDiv {
    margin-top: 10px;
}

@media print {

    body,
    html {
        width: 21cm !important;
        height: 29.7cm !important;
        margin: 0;
    }
}